@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Authentication
<h3>The page can only be seen authorized users</h3>
<h3>Claim variables</h3>
<table class="table talbe-border">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in User.Claims){
            <tr>
                <td>@item.Type</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>

<h3>Authentication data</h3>

<table class="table talbe-border">
    <thead>
        <tr>
            <th>Auth Key</th>
            <th>Auth Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (await Context.AuthenticateAsync()).Properties.Items)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>